<div class="main-content home-pg">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top" style="position: relative;background: linear-gradient(60deg, #66bb6a, #43a047);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <a class="navbar-brand"  rel="tooltip" title="" data-placement="bottom" data-original-title="Kryptual">
                   <img id="logo-top-white" src="assets/img/kryptual_logo_white.png" alt="Kryptual" style="width: 175px;">                  
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <i class="material-icons">dashboard</i>  Dashboard
                        </a>
                    </li>
                 
                    <li>
                        <a>
                            <i class="material-icons">contact_mail</i>Contact us
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/login']">
                            <i class="material-icons">account_circle</i> SIGN IN
                        </a>
                    </li>
                    <li class=" active ">
                        <a [routerLink]="['/signupHome']">
                            <i class="material-icons">person_add</i> SignUp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="menu">
        <!-- Menu icon -->
        <a class="navbar-brand" rel="tooltip" title="" data-placement="bottom" data-original-title="Kryptual">
                   
                   <img id="logo-top-color" class="" src="assets/img/kryptual_logo_white.png" alt="Kryptual"
                    style="width: 242px;padding-top: 30px;">
                </a>
        <div class="icon-close">
            <a ><i class="material-icons">close</i></a>
        </div>
        <!-- Menu -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    <i class="material-icons">dashboard</i> Dashboard
                </a>
            </li>            
            <li>
                <a>
                    <i class="material-icons">contact_mail</i>Contact us
                </a>
            </li>
            <li>
                <a [routerLink]="['/login']">
                    <i class="material-icons">account_circle</i> SIGN IN </a>
            </li>
            <li class=" active ">
                <a [routerLink]="['/signupHome']">
                    <i class="material-icons">person_add</i> SignUp
                </a>
            </li>
        </ul>
    </div>
    <!-- Main body -->
    <div class="jumbotron">
        <div class="icon-menu">
            <i class="fa fa-bars"></i>
        </div>
    </div>
<div class="main-content">
    <div class="container-fluid">
        <div class="crowd-home">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 ml-auto">
                        <div class="card" style="background: #fff;">
                            <div class="sleep-card">
                                <div class="row">
                                    
                                    <div class="bouts-card">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="assets/img/FortySevenBank.png">
                                            </div>
                                            <div class="col-md-4 paddleft">
                                                <h4 class="margbottm0 margtop15">Forty Seven Bank</h4>
                                                <span>https://www.fortyseven.io/</span>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ico-font-color">
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star-half-o fa-2x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="row">
                                <div class="pro-txt">
                                    <h5 style="border-bottom: 1px solid lightgray;margin-top: 20px;">General Info</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  

                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card card-pricing" style="background: #000 !important;">
                        
                            <iframe src="https://www.youtube.com/embed/fwqa_XYzxdg" width="560" height="315" frameborder="0"webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <!-- Team Start -->
                        <div class="team-1">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto text-center">
                                        <h2>Team</h2>
                                    </div>
                                </div>
                                <div class="row justify-content-center" style="padding-bottom:  20px;">
                                    <div class="col-md-4 ml-1" style=" margin: 5px 0;">
                                        <div class="card-profile card-plain" style="margin-bottom: 0px;">
                                            <div class="card-avatar" style="margin-bottom: 10px;">
                                                <a>                                              
                                                     <img class="img img-raised" src="assets/img/emilyz.jpg">
                                                </a>
                                            </div>
                                            <div class="card-body">

                                                <h4 class="card-title">Oliver Atticus</h4>
                                                <h6>Web Developer</h6>
                                                <h4 class="card-title" style="margin-bottom: 15px;">{{team?.linkedinname}}</h4>
                                                <h6 class="category text-success">{{team?.designation}}</h6>
                                                <div class="card-footer">
                                                    <a href="#pablo" class="btn btn-icon btn-success btn-round"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                     <div class="col-md-4 ml-1" style=" margin: 5px 0;">
                                        <div class="card-profile card-plain" style="margin-bottom: 0px;">
                                            <div class="card-avatar" style="margin-bottom: 10px;">
                                                <a>                                              
                                                     <img class="img img-raised" src="assets/img/emilyz.jpg">
                                                </a>
                                            </div>
                                            <div class="card-body">

                                                <h4 class="card-title">Oliver Atticus</h4>
                                                <h6>Web Developer</h6>
                                                <h4 class="card-title" style="margin-bottom: 15px;">{{team?.linkedinname}}</h4>
                                                <h6 class="category text-success">{{team?.designation}}</h6>
                                                <div class="card-footer">
                                                    <a href="#pablo" class="btn btn-icon btn-success btn-round"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>
                                     <div class="col-md-4 ml-1" style=" margin: 5px 0;">
                                        <div class="card-profile card-plain" style="margin-bottom: 0px;">
                                            <div class="card-avatar" style="margin-bottom: 10px;">
                                                <a>                                              
                                                     <img class="img img-raised" src="assets/img/emilyz.jpg">
                                                </a>
                                            </div>
                                            <div class="card-body">

                                                <h4 class="card-title">Oliver Atticus</h4>
                                                <h6>Web Developer</h6>
                                                <h4 class="card-title" style="margin-bottom: 15px;">{{team?.linkedinname}}</h4>
                                                <h6 class="category text-success">{{team?.designation}}</h6>
                                                <div class="card-footer">
                                                    <a href="#pablo" class="btn btn-icon btn-success btn-round"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>
                                   <!-- no data found for team -->
                                   <!-- <div class="col-md-4 ml-1" style=" margin: 5px 0;" *ngIf={{tokenData.generalInfo.team.length > 0}}>
                                   	No Team added yet.
                                   </div> -->

                                </div>
                            </div>
                        </div>
                        <!-- Road map -->
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">Roadmap</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="main-timeline">
                                
                                <div class="timeline" *ngFor="let milestone of tokenData?.generalInfo.milestone">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">{{milestone?.milestonedate |  date:'MM/dd/yyyy'}}</span>
                                        <!-- <h5 class="title">Web Desginer</h5> -->
                                        <p class="description">
                                            {{milestone?.milestone1}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- whitepaper -->
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">Whitepaper</h2>
                                <button class="btn btn-success btn-round pull-center">Download </button>
                                <button  class="btn btn-success btn-round pull-center">View </button>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p></p>
                                    </div>
                                    <!-- 
                  <div class="modal-footer">
                   
                  </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Team Start -->
                    </div>
                    <!--<div class="col-md-5 mr-auto">
                        <div class="card card-blog">
                            <div class="head-adn">
                                <div class="head-st-rt">
                                    <div class="head-ico-img">
                                        <p > <i class="fa fa-thumbs-up" style=""></i> CROWDSALE</p>
                                    </div>
                                </div>
                                <div class="head-st-rt">
                                    <p style="">000 Btc</p>
                                </div>
                            </div>
                            <div class="en-name1">
                                <p class="pull-left">Status</p>
                                <p class="pull-right"><span style=""> Ongoing</span> <i class="fa fa-refresh" style=""></i> </p>
                            </div>
                            <div class="en-name1">
                                <p class="pull-left">Goal</p>
                                <p class="pull-right">17913060</p>
                            </div>
                            <div class="en-name1">
                            	 <p class="pull-left">Crowdsale Details</p>
                            	 <br/>
	                            <div *ngFor="let crowd of tokenData?.crowdsale">
	                                <p style="font-weight: bold;">{{crowd?.tier}}</p>
	                                Start Time : <p>{{crowd?.startTime |  date:'MM/dd/yyyy'}}</p>
	                                End Time : <p>{{crowd?.endTime |  date:'MM/dd/yyyy'}}</p>
	                                <br/>
	                            </div>

                            </div>
                            <div class="en-name1">
                                <p class="pull-left">Price</p>
                                <p class="pull-right">1 Btn = 0.001</p>
                            </div>
                            <div class="my-social-card">
                                <div class="col-md-12">
                                    <div class="my-s-icon">
                                        <a href="#" class="btn btn-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                        <a href="#" class="btn btn-icon btn-twitter btn-round margleft30"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="btn btn-icon btn-linkedin btn-round margleft30"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="view text-center">
                                Follow Us
                            </div>
                        </div>
                        <div class="card card-pricing">
                            <div class="card-body">
                                <div class="col-md-12">                                    
                                        <h3 class="margbottm10">BUY</h3>
                                        <h3 class="margbottm0" style="border-top:2px solid #8BC34A;padding-top: 20px;font-weight: 400;">Price : 1ETH = {{tokenData?.tokenRate}} {{tokenData?.tokenTicker}}</h3>
                                </div>
                                <div class="my-bt-card1">
                                    <a (click)="gotToInvest(tokenData._id)" class="btn btn-success btn-round pull-center">Invest </a>
                                </div>
                            </div>
                        </div>
                    </div>-->


                    <div class="col-md-5 mr-auto">
                <div class="card card-blog">
                    <div class="head-adn">
                        <div>
                            <div class="head-ico-img">
                                <p style="font-weight: bold; margin: 6px; font-size: 14px;"> <i class="fa fa-thumbs-up" style="font-size: 18px; color: #ffa500;"></i> CROWDSALE</p> 
                            </div>
                        </div>
                       <div class="head-st-rt">
                            <p style="margin-bottom: -5px; font-size: 15px; margin-left: 15px;font-weight: 500;">000 Btc</p>
                        </div>
                    </div>
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Status</p>
                        <p class="pull-right"><span style="font-weight: 500;"> Upcoming</span> <i class="fa fa-refresh" style="font-size: 18px; color: #ffa500;"></i> </p>
                    </div>
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Goal</p>
                        <p class="pull-right" style="font-weight: 500;">3000</p>
                    </div>
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Crowdsale Details</p>
                       
</div>
                 <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Tier</p>
                        <p class="pull-left" style="font-weight: bold;margin-left: 50px;">Start Date</p>
                         <p class="pull-left" style="font-weight: bold;margin-left: 50px;">End Date</p>
                          <p class="pull-left" style="font-weight: bold;margin-left: 90px;">Status</p>
</div>
                         <div class="en-name1">
<p class="pull-left"><b>lavie</b></p><b>
 <p class="pull-left" style="margin-left: 45px;">31/Mar/2018</p>
 <p class="pull-left" style="margin-left: 45px;">01/Apr/2018</p>
 <p class="pull-left" style="margin-left: 45px;">Upcoming</p>

 <p class="pull-left"></p>
 <p class="pull-left crowd_time">01:03:00</p>
 <p class="pull-left crowd_time">03:12:00</p>
 <p class="pull-left crowd_time"></p>


 </b></div><b>

                   
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Price</p>
                        <p class="pull-right" style="font-weight: 500;">1 LVI = 0.001</p>
                    </div>
                    <div class="my-social-card"> 
                        <div class="col-md-12">
                            <div class="my-s-icon">
                                <a href="#" class="btn btn-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                <a href="#" class="btn btn-icon btn-twitter btn-round margleft30"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-icon btn-linkedin btn-round margleft30"><i class="fa fa-linkedin"></i></a>
                             </div>
                        </div>
                    </div>
                    <div class="view text-center" style="font-weight: bold; font-size: 14px;">
                        Follow Us
                    </div>
                </b></div><b>
                <div class="card card-pricing">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="">
                                <h2 class="margbottm10">Buy</h2>
                                <p class="margbottm0" style="border-top: 1px solid lightgray;">Price = 1ETH = 1000LVI</p>
                            </div>
                        </div>
                        <div class="my-bt-card1">
                            <button onclick="view1()" class="btn btn-primary btn-round pull-center" style="background-color: #fa7132;">Invest </button>
                        </div>
                    </div>
                </div>  
            </b></div>
                </div>
            </div>
        </div>
    </div>
</div>
  <footer class="footer footer-home">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="col-md-3">
                                <h5 style="color:#f96332">About Kryptual</h5>
                                <p>Kryptual is an automated wizard for blockchain based ICO-creation platform connecting business owners with investors. Kryptual helps them in raising funds to grow their businesses and focus on their trade strength.</p>
                            </div>
                            <div class="col-md-2">
                                <h5><a target="_blank">Become a Reseller</a></h5>
                                <ul class="links-vertical">
                                    <p>Earn money from Kryptual. Refer your friends and set upto 5% out of their transactions</p>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h5><a routerLink="/faq">FAQ</a></h5>
                                <ul class="links-vertical">
                                    <p>You can always reach out to us. But click on the above to know about frequent queries.</p>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h5><a routerLink="/privacy">Privacy and Policy</a></h5>
                                <ul class="links-vertical">
                                    <p>We are privacy freaks ourselves and respect yours too. Your secrets are safe with us.</p>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h5><a style="color:#f96332">Subscribe to Newsletter</a></h5>
                                <p>
                                    Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                                </p>
                                <form class="form form-newsletter" method="post" action="">
                                    <div class="form-group">
                                        <input type="email" id="suscribeemail" name="email" class="form-control" placeholder="Your Email...">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-icon btn-round" name="button" onclick="return getsubscribe();">
                                        <i _ngcontent-c3="" class="material-icons">mail_outline</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row text-center" style="padding-top: 20px;">
                    <div class="col-md-12 centerr">
                        <div class="col-md-1 col-sm-1">
                            <button class="btn btn-just-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <button class="btn btn-just-icon btn-round btn-facebook">
                                <i class="fa fa-facebook"> </i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="copy-rights">&copy; Copyright 2018 Kryptual All Rights Reserved.</div>
                    </div>
                </div>
            </footer>