<div class="main-content home-pg">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <a class="navbar-brand"  rel="tooltip" title="" data-placement="bottom" data-original-title="Kryptual">
                   <img id="logo-top-white" src="assets/img/kryptual_logo_white.png" alt="Kryptual" style="width: 175px;">                  
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <i class="material-icons">dashboard</i>  Dashboard
                        </a>
                    </li>
                 
                    <li>
                        <a>
                            <i class="material-icons">contact_mail</i>Contact us
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/login']">
                            <i class="material-icons">account_circle</i> SIGN IN
                        </a>
                    </li>
                    <li class=" active ">
                        <a [routerLink]="['/signupHome']">
                            <i class="material-icons">person_add</i> SignUp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="menu">
        <!-- Menu icon -->
        <a class="navbar-brand" rel="tooltip" title="" data-placement="bottom" data-original-title="Kryptual">
                   
                   <img id="logo-top-color" class="" src="assets/img/kryptual_logo_white.png" alt="Kryptual"
                    style="width: 242px;padding-top: 30px;">
                </a>
        <div class="icon-close">
            <a ><i class="material-icons">close</i></a>
        </div>
        <!-- Menu -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    <i class="material-icons">dashboard</i> Dashboard
                </a>
            </li>            
            <li>
                <a>
                    <i class="material-icons">contact_mail</i>Contact us
                </a>
            </li>
            <li>
                <a [routerLink]="['/login']">
                    <i class="material-icons">account_circle</i> SIGN IN </a>
            </li>
            <li class=" active ">
                <a [routerLink]="['/signupHome']">
                    <i class="material-icons">person_add</i> SignUp
                </a>
            </li>
        </ul>
    </div>
    <!-- Main body -->
    <div class="jumbotron">
        <div class="icon-menu">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="main-home">
        <div class="wrapper faq_title">
            <div class="content-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title" style="font-size: 55px;font-weight: 600;color: #fff;">Frequently Asked Questions</h2>                       
                    </div>
                </div>
            </div>
        </div>
        <!--FAQ Content-->
   <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto card" style="padding: 0px 15px 0px 30px;margin-top: -55px;margin-bottom: 43px !important;">
                            <h2 class="title">FAQ</h2>
                        
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;/*! margin-top: -10px; */">
                                            What is Kryptual?
                                        </h4>
                                        <p class="card-description">
                                            Kryptual is an automated wizard for blockchain based ICO-creation platform connecting business owners with investors. Kryptual helps them in raising funds to grow their businesses and focus on their trade strength.
                                        </p>
                                        </div>
                                </div>
                            </div>
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">Who founded Kryptual?</h4>
                                        
                                        <p class="card-description">
                                          Kryptual is created with love for blockchain and Ethereum Smart Contracts, marketing giants like Clayton Elwarth Jackson, David Brown are Executive Directors on board. Kryptual.com is fully owned by Kryptual Consulting LTD.
                                        </p>
                                        </div>
                                </div>
                            </div>
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">How does Kryptual platform works?</h4>
                                        
                                       <p class="card-description">
                                           Kryptual uses an automatic Solidity creation system developed by open-source blockchain community. Kryptual brings accessibility to those who lack fund-raising infrastructure.
                                        </p>
                                        </div>
                                </div>
                            </div>
                             <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">Which currencies can be used for investment?</h4>
                                       
                                        <p class="card-description">
                                          For ease of use, the platform is integrated with Paypal. Investments can be made in any fiat currency, allowing anyone in the world to participate. The platform supports Ethereum crypto-currency. We will be adding up other crypto-currencies soon.
                                        </p>
                                        </div>
                                </div>
                            </div>
                             <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">How secure is the Kryptual platform?</h4>
                                        
                                       <p class="card-description">
                                           Kryptual leverages the power of Blockchain Technology. It is decentralized, making it un-hackable and additionally, all the records are immutable. Built with highest security standards, Kryptual is one of the most reliable and secure platforms.
                                        </p>
                                        </div>
                                </div>
                            </div>
                            <div class=" card-plain card-blog" yle="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                       <h5 class="card-title info-title" style="text-align: left;">Are you facing transaction issues?</h5>
                                        
                                        </div>
                                        <div class="col-md-12">
                                        
                                       <h5 class="card-title info-title" style="text-align: left;">Drop an email or contact us at our helpline.</h5>
                                        
                                        </div>
                                      
                                        <div class="col-md-12">
                                        
                                       <h5 class="card-title info-title" style="text-align: left;">If you have got any unanswered query, please fill in your details and query in the contact form. We will get back to you as soon as possible.</h5>
                                        
                                        </div>
                                </div>
                            </div>
                        
                        
                            <h4 class="title">For Launching ICO</h4>
                            
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">
                                           How do I launch an ICO with Kryptual?
                                        </h4>
                                       <p class="card-description">
                                            Even my granny can start her own ICO using Kryptual effortlessly. Sign up as CORPORATE with Kryptual to get started. Kryptual provides you the ability to generate, list and invest in ICO. Follow the 6 simple steps mentioned in Help page of your dashboard to start your ICO. No coding required.
                                        </p>
                                        </div>
                                </div>
                            </div>
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">What other services do you provide for my ICO?</h4>
                                        
                                        <p class="card-description">
                                           Kryptual provides numerous services to enhance your ICO. You can opt-in or opt-out of the services, such as PR and Marketing Consultation, Content Consultation while generating your ICO. For custom requirements, contact our consulting division at sales@kryptual.consulting
                                        </p>
                                        </div>
                                </div>
                            </div>
                           
                        
                         
                            <h4 class="title">For Investing</h4>
                          
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">
                                           How do I invest in an ICO with Kryptual?
                                        </h4>
                                        <p class="card-description">
                                            Kryptual makes investing in ICOs simple and reliable. Sign up as an INVESTOR with Kryptual to get started. Users can view the ongoing ICOs on the home page as well as their dashboard. Choose the amount you wish to invest and TA-DA.
                                        </p>
                                        </div>
                                </div>
                            </div>
                            <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">How and when do I get my purchased ICO tokens?</h4>
                                        
                                        <p class="card-description">
                                          As soon as an ICO lockdown period is completed, the tokens are transferred to the investor's wallet. In case, the required fund is not raised by the ICO by the end of the lockdown period, the original amount is transferred to the investor's wallet.
                                        </p>
                                        </div>
                                </div>
                            </div>
                           <div class=" card-plain card-blog" style="margin-bottom: 0;">
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        
                                        <h4 class="card-title info-title" style="text-align: left;">Is it possible to invest in more than one ICO?</h4>
                                        
                                       <p class="card-description">
                                        Yes. Kryptual allows you to invest in more than one ICO simultaneously. In fact, we will be adding a multi-token portfolio and risk management platform soon.
                                        </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!--Footer-->
        <div class="container-fluid" style="padding-left: 0.1px;padding-right: 0.1px;">
            <footer class="footer footer-home">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="col-md-3">
                                <h5 style="color:#f96332">About Kryptual</h5>
                                <p>Kryptual is an automated wizard for blockchain based ICO-creation platform connecting business owners with investors. Kryptual helps them in raising funds to grow their businesses and focus on their trade strength.</p>
                            </div>
                            <div class="col-md-2">
                                <h5><a target="_blank">Become a Reseller</a></h5>
                                <ul class="links-vertical">
                                    <p>Earn money from Kryptual. Refer your friends and set upto 5% out of their transactions</p>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h5><a routerLink="/faq">FAQ</a></h5>
                                <ul class="links-vertical">
                                    <p>You can always reach out to us. But click on the above to know about frequent queries.</p>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h5><a routerLink="/privacy">Privacy and Policy</a></h5>
                                <ul class="links-vertical">
                                    <p>We are privacy freaks ourselves and respect yours too. Your secrets are safe with us.</p>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h5><a style="color:#f96332">Subscribe to Newsletter</a></h5>
                                <p>
                                    Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                                </p>
                                <form class="form form-newsletter" method="post" action="">
                                    <div class="form-group">
                                        <input type="email" id="suscribeemail" name="email" class="form-control" placeholder="Your Email...">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-icon btn-round" name="button" onclick="return getsubscribe();">
                                        <i _ngcontent-c3="" class="material-icons">mail_outline</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row text-center" style="padding-top: 20px;">
                    <div class="col-md-12 centerr">
                        <div class="col-md-1 col-sm-1">
                            <button class="btn btn-just-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <button class="btn btn-just-icon btn-round btn-facebook">
                                <i class="fa fa-facebook"> </i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="copy-rights">&copy; Copyright 2018 Kryptual All Rights Reserved.</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>