<div class="main-content home-pg">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <a class="navbar-brand"  rel="tooltip" title="" data-placement="bottom" data-original-title="Kryptual">
                   <img id="logo-top-white" src="assets/img/kryptual_logo_white.png" alt="Kryptual" style="width: 175px;">                  
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <i class="material-icons">dashboard</i>  Dashboard
                        </a>
                    </li>
                 
                 
                    <li>
                        <a>
                            <i class="material-icons">contact_mail</i>Contact us
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/login']">
                            <i class="material-icons">account_circle</i> SIGN IN
                        </a>
                    </li>
                    <li class=" active ">
                        <a [routerLink]="['/signupHome']">
                            <i class="material-icons">person_add</i> SignUp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="menu">
        <!-- Menu icon -->
        <a class="navbar-brand" rel="tooltip" title="" data-placement="bottom" data-original-title="Kryptual">
                   
                   <img id="logo-top-color" class="" src="assets/img/kryptual_logo_white.png" alt="Kryptual"
                    style="width: 242px;padding-top: 30px;">
                </a>
        <div class="icon-close">
            <a ><i class="material-icons">close</i></a>
        </div>
        <!-- Menu -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    <i class="material-icons">dashboard</i> Dashboard
                </a>
            </li>            
            <li>
                <a>
                    <i class="material-icons">contact_mail</i>Contact us
                </a>
            </li>
            <li>
                <a [routerLink]="['/login']">
                    <i class="material-icons">account_circle</i> SIGN IN </a>
            </li>
            <li class=" active ">
                <a [routerLink]="['/signupHome']">
                    <i class="material-icons">person_add</i> SignUp
                </a>
            </li>
        </ul>
    </div>
    <!-- Main body -->
    <div class="jumbotron">
        <div class="icon-menu">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="main-home">
        <div class="wrapper faq_title">
            <div class="content-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title1">Kryptual Reseller Programme</h2>                       
                    </div>
                </div>
            </div>
        </div>
        <!--FAQ Content-->
    <div class="features-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mr-auto ml-auto">
                                <h2 class="title" style="text-align: center;">Simpler. Smarter. Faster.</h2>
                                <h4 class="description" style="text-align: center;margin-top: -2%;
                                    margin-bottom: 3%;">Invest only in ICOs you know and trust. Direct marketplace for all ICOs ever published.Find the right ICO to invest in quickly and easily.</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-card">
                                <div class="info info-hover">
                                    <div class="icon icon-success icon-circle">
                                        <img src="assets/img/join.png" class="reseller-image">
                                    </div>
                                    <h4 class="info-title">Join</h4>
                                    <p class="description">Join the revolution of blockchain and cryptocurrency technology and find the next big thing to invest in. Create account on our site and become a part of the Kryptual marketplace.</p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-card">
                                <div class="info info-hover">
                                    <div class="icon icon-info icon-circle">
                                      <img src="assets/img/refer.png" class="reseller-image">
                                    </div>
                                    <h4 class="info-title">Refer</h4>
                                    <p class="description">Once you become our member then you can refer Kryptual to everyone you know. Spread the word by sharing your unique referral link through blog posts, articles, emails, Facebook posts and tweets.</p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-card">
                                <div class="info info-hover1">
                                    <div class="icon icon-primary icon-circle circle3" >
                                        <img src="assets/img/earn.png" class="reseller-image">
                                    </div>
                                    <h4 class="info-title">Earn</h4>
                                    <p class="description">When your friend makes a transaction, you'll get paid. There's no limit to how many people you can refer, so there's no limit to the amount of bonus you can earn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

 <div class="row">
    <div class="col-md-4 "> </div>
    <div class="col-md-4 ml-auto mr-auto text-center">
                            <a class="btn btn-primary btn-round mt-4 btn-lg" style="background-color: #f96332;font-size: 13px;" href="./en/#/signupHome">
                                Join Us Now
                            </a>
                            <a class="btn btn-primary btn-round mt-4 btn-lg" style="background-color: #f96332;font-size: 13px;" href="./en/#/login">
                               Already Registered Login Now
                            </a>
  <div class="separator-line separator-primary"></div>
    </div>
    <div class="col-md-4"> </div>


 </div>


 
        <!--Footer-->
        <div class="container-fluid" style="padding-left: 0.1px;padding-right: 0.1px;">
            <footer class="footer footer-home">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="col-md-3">
                                <h5 style="color:#f96332">About Kryptual</h5>
                                <p>Kryptual is an automated wizard for blockchain based ICO-creation platform connecting business owners with investors. Kryptual helps them in raising funds to grow their businesses and focus on their trade strength.</p>
                            </div>
                            <div class="col-md-2">
                                <h5><a href="">Become a Reseller</a></h5>
                                <ul class="links-vertical">
                                    <p>Earn money from Kryptual. Refer your friends and set upto 5% out of their transactions</p>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h5><a routerLink="/faq">FAQ</a></h5>
                                <ul class="links-vertical">
                                    <p>You can always reach out to us. But click on the above to know about frequent queries.</p>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h5><a routerLink="/privacy">Privacy and Policy</a></h5>
                                <ul class="links-vertical">
                                    <p>We are privacy freaks ourselves and respect yours too. Your secrets are safe with us.</p>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h5><a style="color:#f96332">Subscribe to Newsletter</a></h5>
                                <p>
                                    Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                                </p>
                                <form class="form form-newsletter" method="post" action="">
                                    <div class="form-group">
                                        <input type="email" id="suscribeemail" name="email" class="form-control" placeholder="Your Email...">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-icon btn-round" name="button" onclick="return getsubscribe();">
                                        <i _ngcontent-c3="" class="material-icons">mail_outline</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row text-center" style="padding-top: 20px;">
                    <div class="col-md-12 centerr">
                        <div class="col-md-1 col-sm-1">
                            <button class="btn btn-just-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <button class="btn btn-just-icon btn-round btn-facebook">
                                <i class="fa fa-facebook"> </i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="copy-rights">&copy; Copyright 2018 Kryptual All Rights Reserved.</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>