<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="updatePasswordForm">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="green">
                                    <a><h1><img href="https://www.kryptual.com" src="./assets/img/logo.png" style="cursor: pointer;width:230px"></h1></a>
                                    <h4 class="card-title">Update Password</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">New Password</label>
                                            <input class="form-control ng-untouched ng-pristine ng-invalid" formControlName="newPassword" [(ngModel)]="updatePassword.newPassword" required="" ng-reflect-required="" ng-reflect-name="password" ng-reflect-model="" type="password">
                                            <div style="color:red" *ngIf="!updatePasswordForm.controls['newPassword'].valid&&updatePasswordForm.controls['newPassword'].dirty">
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['required']">Password is required</span>
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['minlength']">Must be longer than 6 characters</span>
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['pattern']&&!updatePasswordForm.controls['newPassword'].errors['minlength']">Password Must Contain one lowercase and one uppercase letter,number and special characters!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">confirm New Password</label>
                                            <input class="form-control ng-untouched ng-pristine ng-invalid" formControlName="confirmNewPassword" [(ngModel)]="updatePassword.confirmNewPassword" required="" ng-reflect-required="" ng-reflect-name="confirmPassword" ng-reflect-model="" type="password">
                                            <div *ngIf="!updatePasswordForm.controls['confirmNewPassword'].valid&&updatePasswordForm.controls['confirmNewPassword'].dirty" class="help-block">
                                                <span style="color:red;">Confirm new password is required</span>
                                            </div>
                                            <div *ngIf="updatePasswordForm.controls['confirmNewPassword'].touched&&updatePasswordForm.hasError('mismatchedPasswords')" class="help-block">
                                                <span style="color:red;"> Confirm password do not match.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-success btn-simple btn-wd btn-lg" (click)="updateUserPassword(updatePasswordForm.value)" [disabled]="!updatePasswordForm.valid">Let's go</button>
                                </div>
                                <div class="footer text-center">
                                     <a [routerLink]="['/login']" align="right" style="line-height: 0px; color: Green">Already have an account?</a>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <div class="container">
                <p class="copyright">
                    &copy; {{year }}
                    <a>Kryptual</a>, All rights reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background :#4caf50 "></div>
       <!--  <div class="full-page-background" style="background-image: url(./assets/img/login.jpeg) "></div> -->
    </div>
</div>
