<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="full-page register-page signUppg" filter-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card card-signup">
                        <a href="https://www.kryptual.com" style="margin-top: 0px;margin-bottom: 35px;float:  left;width:  100%;text-align: center;"><img src="assets/img/tokenology-logo_1.png" style="cursor: pointer;width:40%"></a>
                        <h3 class="card-title text-center">Sign Up for {{account}}</h3>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="card-content">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">autorenew</i>
                                        </div>
                                        <div class="description" *ngIf="referalStatus">
                                            <h4 class="info-title">Generate</h4>
                                            <p class="description">
                                                Just six steps to create and get started with your own ICO. Customize and Manage your ICO. No coding required.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal" *ngIf="referalStatus">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">list</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">List</h4>
                                            <p class="description">
                                                Reach investors globally. Get ahead of the competition with our target market listing.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Invest.</h4>
                                            <p class="description">
                                                Seize great opportunities. Search from a large variety of ICOs across the globe.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <form [formGroup]="registerForm">
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">person</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [(ngModel)]="signUpDetails.firstName" required />
                                            <div style="color:red" *ngIf="!registerForm.controls['firstName'].valid&&registerForm.controls['firstName'].dirty">
                                                <span *ngIf="registerForm.controls['firstName'].errors['required']">First name is required</span>
                                                <span *ngIf="registerForm.controls['firstName'].errors['pattern']">First Name should atleast 3 characters and maximum 32 and alphabet only</span>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">person_outline</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [(ngModel)]="signUpDetails.lastName" required />
                                            <div style="color:red" *ngIf="!registerForm.controls['lastName'].valid&&registerForm.controls['lastName'].dirty">
                                                <span *ngIf="registerForm.controls['lastName'].errors['required']">Last name is required</span>
                                                <span *ngIf="registerForm.controls['lastName'].errors['pattern']">Last Name should atleast 3 characters and maximum 32 and alphabet only</span>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <input type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="signUpDetails.email" required />
                                            <div style="color:red" *ngIf="!registerForm.controls['email'].valid&&registerForm.controls['email'].dirty">
                                                <span *ngIf="registerForm.controls['email'].errors['required']">Email id is required</span>
                                                <span *ngIf="registerForm.controls['email'].errors['pattern']">Invalid email id format</span>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="Password" formControlName="password" [(ngModel)]="signUpDetails.password" required />
                                            <div style="color:red" *ngIf="!registerForm.controls['password'].valid&&registerForm.controls['password'].dirty">
                                                <span *ngIf="registerForm.controls['password'].errors['required']">Password is required</span>
                                                <span *ngIf="registerForm.controls['password'].errors['minlength']">password must be atleast 6 characters</span>
                                                <span *ngIf="registerForm.controls['password'].errors['pattern']&&!registerForm.controls['password'].errors['minlength']">Password must contain one lowercase and one uppercase letter,number and special characters!</span>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">lock</i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [(ngModel)]="signUpDetails.confirmPassword" required />
                                            <div style="color:red" *ngIf="!registerForm.controls['confirmPassword'].valid&&registerForm.controls['confirmPassword'].dirty">
                                            </div>
                                            <div *ngIf="registerForm.controls['confirmPassword'].dirty&&registerForm.hasError('mismatchedPasswords')"><span style="color:red;"> Passwords do not match.</span></div>
                                        </div>
                                        <div class="input-group" *ngIf="referalStatus">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">person</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Reseller Code" formControlName="referralUser" [(ngModel)]="signUpDetails.referralUser" required />
                                        </div>
                                        <div class="input-group" *ngIf="!referalStatus">
                                            <span class="input-group-addon in-add">
                                                <i class="material-icons">person</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Investor Code" formControlName="investorCode" [(ngModel)]="signUpDetails.investorCode"  />
                                        </div>
                                    </div>
                                    <!-- <div class="footer" style="padding-left: 25px;display: flex;justify-content: center;align-items: center;">
                                        <div class="g-recaptcha" data-sitekey="6LdAm04UAAAAABRwz2yNS5P2yLKpxxL47nDqN_sT"></div>
                                    </div> -->
                                    <div class="footer text-center">
                                        <button class="btn btn-success btn-round" (click)="register(registerForm.value)" [disabled]="!registerForm.valid">Get Started</button>
                                    </div>
                                    <div class="footer text-center">
                                        <a [routerLink]="['/login']" align="right" style="line-height: 0px; color: Green">Already have an account?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <div class="container">
                <p class="copyright">
                    &copy; {{year }}
                    <a>Kryptual</a>, All rights reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background :#4caf50 "></div>
        <!-- <div class="full-page-background" style="background-image: url(./assets/img/register.jpeg) "></div> -->
    </div>
</div>
