<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="forgotPsswordForm">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="green">
                                    <a  style="margin-top: 42px;margin-bottom: 25px;float:  left;width:  100%;"><img href="https://www.kryptual.com" src="./assets/img/logo.png" style="cursor: pointer;width:230px"></a>
                                    <h4 class="card-title">Forgot Password</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" class="form-control" formControlName="email" [(ngModel)]="forgotPasswordDetail.email">
                                            <div style="color:red" *ngIf="!forgotPsswordForm.controls['email'].valid&&forgotPsswordForm.controls['email'].dirty" >
                                                <span *ngIf="forgotPsswordForm.controls['email'].errors['required']">Email id is required</span>
                                                <span *ngIf="forgotPsswordForm.controls['email'].errors['pattern']">Invalid email id format</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-success" (click)="forgotPassword(forgotPsswordForm.value)" [disabled]="!forgotPsswordForm.valid">Send</button>
                                </div>
                                <div class="footer text-center">
                                    <a [routerLink]="['/login']" style="margin:1em 1em;line-height: 0px;color: green;">Login?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <div class="container">
                <p class="copyright">
                    &copy; {{year }}
                    <a>Kryptual</a>, All rights reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background :#4caf50 "></div>
        <!-- <div class="full-page-background" style="background-image: url(./assets/img/login.jpeg) "></div> -->
    </div>
</div>
